:root {
    --bc-colour:#0A2B9F;
    --nav-colour:#5177FD;
    --btn-outer:#5177FD;
    --btn-inner:#0A2B9F;
    --btn-inner-text:#ffffff;
    --heading-txt-colour2:#F1BF5A;
    --txt-colour:white;
}