:root {
    --bc-colour:#b54242;
    --nav-colour:#de7171;
    --btn-outer:#de7171;
    --btn-inner:#b54242;
    --btn-inner-text:#ffffff;
    --heading-txt-colour2:#FFFFfF;
    --txt-colour:white;
}