:root {
    --bc-colour: #7049C3;
    --nav-colour: #8D6FCE;
    --btn-outer: #8D6FCE;
    --btn-inner: #7049C3;
    --btn-inner-text: #ffffff;
    --heading-txt-colour2: WHITE;
    --txt-colour: white;
}